@media (prefers-reduced-motion: no-preference) {
  .button {
    animation: bounce infinite alternate 1s ease-in;
  }
}

.header {
  font-family: "Inter", sans-serif;
  min-height: 0vh;
  font-weight: 600;
  font-style: normal;
  margin-left: 0 !important;
  margin-top: 12vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.card {
  margin: 0;
  margin-bottom: 1vh;
}

.tasks {
  font-family: "Inter", sans-serif;
  text-align: left !important;
  min-height: 0vh;
  font-weight: 600;
  padding-top: 6px !important;
  padding-bottom: 10px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  font-style: normal;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: flex-start;
  justify-items: left !important;
  font-size: calc(3px + 1.4vmin);
  color: #ffffff;
}

.title {
  font-family: "Inter", sans-serif;
  text-align: left !important;
  min-height: 0;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  font-size: calc(3px + 1.1vmin);
  color: #ffffff;
}

.description {
  font-family: "Inter", sans-serif;
  text-align: left !important;
  min-height: 0;
  font-weight: 600;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(1px + 0.9vmin);
  color: #bbbbbb;
}

.button {
  color: #ffffff;
  position: fixed;
  background-color: #4cae0a;
  padding: 20px 20px;
  align-items: center;
  align-self: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-top: 80vh;
  margin-left: 80vw;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-link-bounce {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(0px, 10px);
  }
}
